@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    system-ui,
    segoe ui,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    apple color emoji,
    segoe ui emoji;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
font-family: Arial;

p {
  line-height: 1.5;
}

h1 {
  font-weight: 500;
}

pre {
  background: #f0f0f0;
  color: #000000;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  line-height: 1.5;
}

pre code {
  background: transparent;
  padding: 0;
  color: inherit;
  font-family: monospace;
}

code {
  background: #f3f3f3;
  padding: 0.15rem 0.35rem;
  border-radius: 4px;
  font-family: monospace;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
}

h2 {
  font-family: "Caveat";
}

.card {
  display: flex;
  flex-direction: column;
}

nav ul {
  display: flex;
  gap: 4px;
}

.post-item {
  display: flex;
  gap: 10px;
  align-items: end;
  margin: 20px 0;
}

.post-item a {
  font-size: 1.4rem;
}

.post-item p {
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 0.15rem;
  flex-shrink: 0;
}
